{% extends "base.html" %}
{% block title %} HN Live - About {% endblock %}
{% block body %}
<a href="https://github.com/Max00355/HNLive"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a> 
    <div class="live" style="width: 1000px">
        <h3>About HN Live</h3>
        <p>        HN Live is an alternative interface to Hacker News which streams the data from Hacker News in real time. Though HN isn't updated terribly frequently, having a site that shows the data in real time is rather interesting, for me anyway. I am also too lazy to reload the page every time I want to see what's new. </p>
        If you'd like to get in contact with me you can email me at: <a href="mailto:frankieprimerano@gmail.com" style="color:#F60;">frankieprimerano@gmail.com</a>
    </div>
{% endblock %}
